* {
  margin: 0;
  padding: 0;
}

html {
  height: 1315px;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font: 12px/18px Arial, sans-serif;
  min-width: 860px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, columns {
  display: block;
}

@font-face {
  font-family: "YanusC";
  src: url('../fonts/YanusC.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dinpro-medium";
  src: url('../fonts/Dinpro-medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url('../fonts/Segoe_Semilight_It.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url('../fonts/Palatino_Linotype.ttf');
  font-weight: normal;
  font-style: italic;
}

body a {
  cursor: pointer;
}

body a:hover {
  text-decoration: none;
}

body a:active {
  text-decoration: none;
}

.wrapper {
  height: 1315px;
  background: #fff;
}

.header {
  position: relative;
  margin: 5px auto 0 auto;
  width: 1150px;
  height: 180px;
  border-radius: 8px;
  color: black;
}    

.header__logo {
  position: absolute;
  top: 18px;
  left: 26px;
  width: 370px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255,.0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255,.0) 70%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  border-radius: 15px;
  transition: 1.3s linear;
}

/*.header__logo:hover{
  transition: all 1.3s linear;
  transition-duration: 1.3s;
  transition-delay: 1s;
  background-position: -200% 0, 0 0;
}

.hover {
  transition: all 1.3s linear;
  transition-duration: 1.3s;
  transition-delay: 1s;
  background-position: -200% 0, 0 0;
}*/

.header-slogan {
  position: absolute;
  top: 155px;
  left: 31px;
}

.header-slogan span {
  font-family: "Segoe UI Semilight";
  font-style: italic;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 500;
}

.header-nav-menu {
  position: absolute;
  top: 20px;
  right: 2px;
  width: 545px;
  height: 150px;
  text-align: center;
}

.header-nav-menu__list {
  margin: 25px auto;
}

.header-nav-menu__list a {
  height: 98px;
  line-height: 98px;
  width: 98px;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: .75em;
}

.header-nav-menu__list a span {
  position: relative;
  display: inline-block;
  width: 98px;
  background: #2195de;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.csstransforms3d .header-nav-menu__list a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2195de;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.5s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.header-nav-menu__list a:hover span,
.header-nav-menu__list a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-45px);
}
.csstransforms3d .header-nav-menu__list a:hover span::before,
.csstransforms3d .header-nav-menu__list a:focus span::before {
  background: #A0B7BA;
}

.header-nav-menu__list a:hover,
.header-nav-menu__list a:focus {
  outline: none;
}

.header-nav-menu a span i {
  color: rgba(58, 74, 72, .8);
}

.header-nav-menu .header-nav-menu__list--color1 {
  background: #6AC716;
}

.header-nav-menu .header-nav-menu__list--color2 {
  background: #F93B09;
}

.header-nav-menu .header-nav-menu__list--color3 {
  background: #A512C4;
}

.header-nav-menu .header-nav-menu__list--color4 {
  background: #FFFF00;
}

.header-nav-menu .header-nav-menu__list--color5 {
  background: #21AAE0;
}


.space-panel {
  position: relative;
  width: 1108px;
  height: 587px;
  margin: 14px auto 5px auto;
  font-size: 26px;
  font-family: "Dinpro-medium";
}

.space-panel .block-panel {
  display: inline-block;
  position: relative;
  width: 368px;
  height: 100%;
  float: left;
  padding: 5px 0 2px 0;
  font-size: 10px;
}

.space-panel .block-panel:nth-child(2) {
  margin-left: 2px;
}

.space-panel .block-panel:nth-child(3) {
  margin-left: 2px;
}

.block-panel__section {
  display: inline-block;
  width: 181px;
  height: 190px;
  margin: 0 1px 4px 0;
  color: #1A564E;
  transition: all 1.3s ease;
  opacity: .9;
}

.block-panel__double-section {
  width: 365px;
  height: 190px;
  margin: 0 1px 4px 0;
  color: #1A564E;
  opacity: .9;
  transition: all 1.3s ease;
}

.block-panel__doubledouble-section {
  width: 363px;
  height: 385px;
  margin: 0 1px 3px 1px;
  background: #ccc;
}

.block-panel__section:hover, .block-panel__double-section:hover {
  box-shadow: -4px 3px 15px -3px #000;
  transition: all 1.3s ease;
  /*transition: opacity 1.5s ease;*/  
  /*transition: background-color 0.8s 0.1s ease;*/
  /*padding-top: -1px;*/
  /*background: rgba(0,0,0, .3);*/ 
  opacity: 1; 
  cursor: pointer;
}

.block-panel__section--green {
  background: #6AC716;
  position: relative;
}

.block-panel__section--green2 {
  background-image: url(../img/ryki_na_klaviatyre.jpg);
  background-size: cover;
}

.block-panel__section--green2 i {
  position: absolute;
  top: 65px;
  left: 150px;
}

.block-panel__section--green i {
  position: absolute;
  top: 65px;
  left: 65px;
}

.block-panel__section--violet {
  background: #2D90AE; 
  /*margin-left: 1px;*/
  position: relative;
}

.block-panel__section--violet i {
  position: absolute;
  top: 65px;
  left: 65px;
}

.block-panel__section--red {
  background: #F93B09;
  position: relative;
}

.block-panel__section--yellow1{
  background: #91F514;
  position: relative;
}

.block-panel__section--yellow {
  background: #FFFF00; 
  position: relative;
}

.block-panel__section--yellow a i {
  position: absolute;
  top: 58px;
  left: 156px; 
}

.block-panel__section--bordo{
  background: #D0284B;
  position: relative;
}

.block-panel__section--bordo i{
  position: absolute;
  top: 65px;
  left: 150px;
}

.block-panel__section--red i {
  position: absolute;
  top: 65px;
  left: 150px;
}

.block-panel__section--purple {
  background-image: url(../img/viber%20image1112.jpg);
  background-size: cover;  
  margin-top: -5px;
}
.block-panel__section--purple2 {
  background-image: url(../img/fon-plenkacolor.png);
  background-size: cover;  
}

.block-panel a {
  display: block;
  position: relative;
  width: 100%;
  height: 190px;
  font-size: 18px;
  color: #316760;
  text-decoration: none;
}

.block-panel a span{
  display: block;  
  position: absolute;
  top: 160px;
  width: 100%;
  height: 30px;
  padding: 5px 0 0 7px;
  background: rgba(135, 147, 155, .6);
   color: #000;
}

#btn-registration {
  text-decoration: none;
}


.carousel-caption {
  position: absolute;
  top: 314px;
  left: 0;
  width: 363px;
  height: 70px;
  padding-top: 5px;
  background: rgba(135, 147, 155, .6);
  font-family: "Dinpro-medium";
  color: black;
  text-shadow: none;
}

.carousel-caption h3 {
  font-size: 18px;
  margin: 0 0 5px 0;
}

.carousel-caption p {
  font-size: 14px;
}

.carousel-indicators {
  margin-bottom: 0;
}
.carousel-indicators li {
  border: 1px solid #1c6659;
  opacity: .4;
}

.carousel-indicators .active {
  background-color: rgba(28, 102, 89, .4);
}

.form {
  max-width: 470px;
}

.call {
  position: relative;
  margin: 0 auto 7px auto; 
  width: 1108px;
  height: 114px;
  background: rgba(156, 180, 158, .7);
  font-family: "YanusC";
}

.call__button {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 76px;
  width: 260px;
  height: 84px;
  line-height: 44px;
  float: left;
  border: 1px solid #0C616E;
  text-align: center;
  opacity: .9;
  border-radius: 11px;
  background:transparent;
  background-image: -webkit-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -webkit-linear-gradient(#597373, #D4F2EC);
  background-image: -moz-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -moz-linear-gradient(#597373, #D4F2EC);
  background-image: -o-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -o-linear-gradient(#597373, #D4F2EC);
  -moz-box-shadow: inset 0px -2px 0 #B4E2F3;
  -webkit-box-shadow: inset 0px -2px 0 #B4E2F3;
  -o-box-shadow: inset 0px -2px 0 #B4E2F3;
  box-shadow: inset 0px -1px 2px #B4E2F3;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 0px;
  color: black;
}

.call__button:before {
  content: "\0020";
  color:transparent;
  line-height: 16px;
  width: 252px;
  height: 39px;
  opacity: .7;
  margin-top: 0px;
  margin-bottom: -22px;
  margin-left: 3px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) );
  background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  border-radius: 11px; 
  display:block;
}

.call__button:hover {
   opacity: .8;
   color: #77464B;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
   -webkit-transition-duration: 0.4s; 
   -o-transition-duration: 0.4s; 
   -moz-transition-duration: 0.4s; 
  transition-duration: 0.6s;
  text-decoration: none;
}

.call__text{
  position: absolute;
  top: 49px;
  left: 377px;
  font-size: 24px;
}

.block-third {
  position: relative;
  margin: 0 auto 5px auto;
  width: 1107px;
  height: 430px;
  background: url(../img/pogmem_ryki.jpg) no-repeat;
  background-size: cover;
  border: 1px solid #7F9490;
}

.block-third__logo {
  position: absolute;
  top: 75px;
  right: 20px;
  width: 250px;
  padding: 15px 21px;
  background: rgba(210, 219, 219, .6);
  border-radius: 4px;
}

.block-third-table {
  position: absolute;
  top: 75px;
  left: 50px;
  width: 770px;
  height: 290px;
  background: rgba(210, 219, 219, .6);
  border-radius: 5px;
  font-family: "YanusC";
}

.block-third-table__row {
  width: 240px;
  text-align: center;
  vertical-align: middle;
}

.block-third-table__row--top {
  height: 70px;
}

.block-third-table__row--top td {
  font-size: 25px;
  vertical-align: middle;
  width: 275px;
  text-decoration: underline;
}

.block-third-table__row--bottom {
  height: 90px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 27px;
}

#modal_form {
 width: 500px; 
 height: 500px; 
 border-radius: 5px;
 border: 3px #000 solid;
 background: #fff;
 position: fixed; 
 top: 45%; 
 left: 50%; 
 margin-top: -250px;
 margin-left: -250px; 
 display: none; 
 opacity: 0; 
 z-index: 5; 
 padding: 20px 10px;
}
 #modal_form1 {
 width: 500px; 
 height: 340px; 
 border-radius: 5px;
 border: 3px #000 solid;
 background: #fff;
 position: fixed; 
 top: 45%; 
 left: 50%; 
 margin-top: -250px;
 margin-left: -250px; 
 display: none; 
 opacity: 0; 
 z-index: 5; 
 padding: 20px 10px;
}
  
/*   Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
 width: 21px;
 height: 21px;
 position: absolute;
 top: 5px;
 right: -2px;
 cursor: pointer;
 display: block;
 color: black;
}
#modal_form1 #modal_close1 {
 width: 21px;
 height: 21px;
 position: absolute;
 top: 5px;
 right: -2px;
 cursor: pointer;
 display: block;
 color: black;
}
/* Пoдлoжкa */
#overlay {
 z-index:3; 
 position:fixed; 
 background-color:#000; 
 opacity:0.8; 
 -moz-opacity:0.8; 
 filter: alpha(opacity=80);
 width:100%; 
 height:100%; 
 top:0;
/*  сверху и слевa 0, oбязaтельные свoйствa! */
 left:0;
 cursor:pointer;
 display:none; 
/* в oбычнoм сoстoянии её нет) */
}
#overlay1{
 z-index:3; 
 position:fixed; 
 background-color:#000; 
 opacity:0.8; 
 -moz-opacity:0.8; 
 filter: alpha(opacity=80);
 width:100%; 
 height:110%; 
 top:0;
/*  сверху и слевa 0, oбязaтельные свoйствa! */
 left:0;
 cursor:pointer;
 display:none; 
/*  / в oбычнoм сoстoянии её нет) /*/
}

form {
  margin: 0 auto;
  max-width: 95%;
  padding: 30px 30px 6px 30px;
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5); 
  -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  overflow: hidden; 
}

/* Поле сообщения */

textarea{
  background: rgba(255, 255, 255, 0.4); 
  width: 100%;
  height: 130px;
  border: 1px solid rgba(255,255,255,.6);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  font-weight: 300;
  color: rgba(255,255,255, .9);
  padding-left:20px;
  padding-right:20px;
  padding-top:12px;
  margin-bottom:20px;
  overflow:hidden;
}

/*  Поля ввода  */

input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255,255,255,.4);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-size:17px;
  font-weight: 300;    
  color:#fff;
  padding-left:20px;
  padding-right:20px;
  margin-bottom:20px;
}

input[type=submit] {
  cursor:pointer;
}

input.name {
  background: rgba(255, 255, 255, 0.4); 
  padding-left:20px;
}

input.email {
  background: rgba(255, 255, 255, 0.4);
  padding-left:20px;
}

input.message {
  background: rgba(255, 255, 255, 0.4);
  padding-left:20px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-moz-placeholder{ 
  color: rgba(255, 255, 255, 0.6); 
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {  
  color: rgba(255, 255, 255, 0.6); 
}

input:focus, textarea:focus { 
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  overflow: hidden; 
}

/* Стили для кнопки отправить */

.btn {
  width: 148px;
  height: 44px;
  margin: -10px 0 0 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  float:right;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  padding: 10.5px 21px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #ccc;
}

.btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
 }

.btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #333333;
  background: #ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ff6600));
  background: -webkit-linear-gradient(top, #ccc, #ff6600);
  background: -moz-linear-gradient(top, #ccc, #ff6600);
  background: -ms-linear-gradient(top, #ccc, #ff6600);
  background: -o-linear-gradient(top, #ccc, #ff6600);
  background-image: -ms-linear-gradient(top, #ccc 0%, #ff6600 100%);
  color: #fff;
  -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
