* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, columns {
  display: block;
}

html, body {
  height: 100%;
}

@font-face {
    font-family: "YanusC";
    src: url('../fonts/YanusC.otf');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Arciform";
    src: url('../fonts/Arciform.otf');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gotham_pro";
    src: url('../fonts/Gotham_pro.otf');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "ptsans";
    src: url('../fonts/ptsans.ttf');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Dinpro-medium";
    src: url('../fonts/Dinpro-medium.otf');
    font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url('../fonts/Segoe_Semilight_It.ttf');
  font-style: italic;
}

body {
  font: 12px/18px Arial, sans-serif;
}

a  {
  text-decoration: none;
}

.wrapper {
  height: auto;
  background: #fff;
  
}

.header {
  position: relative;
  margin: 23px auto 0 auto;
  width: 1150px;
  height: 120px;
  border-radius: 8px;
  color: black;
}    

.header__logo {
  position: absolute;
  top: 11px;
  left: 25px;
  width: 290px;
  /*background: rgba(204, 204, 204, .3);*/
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%);
/*    radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);*/
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  border-radius: 15px;
  transition: .9s linear;
}

.header__logo:hover{
  transition: all 1.3s linear;
  transition-duration: 1.3s;
  transition-delay: 1s;
  background-position: -200% 0, 0 0;
}

.hover {
  transition: all 1.3s linear;
  transition-duration: 1.3s;
  transition-delay: 1s;
  background-position: -200% 0, 0 0;
}

.header-nav-menu {
  width: 400px;
  height: 80px;
  position: absolute;
  top: 20px;
  right: 8px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.header-nav-menu__list {
  position: relative;
  height: 98px;
  width: 400px;
  margin: 7px auto;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3); 
}

.header-nav-menu__list a {
  height: 65px;
  line-height: 65px;
  width: 65px;
  margin-left: 1px;
  background: #ccc;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: .65em;
}

.header-nav-menu__list a .active {
  background: #eee;
}

.header-nav-menu__list a span {
  position: relative;
  display: inline-block;
  width: 65px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .header-nav-menu__list a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2195de;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.5s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.header-nav-menu__list a:hover span,
.header-nav-menu__list a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-45px);
}

.csstransforms3d .header-nav-menu__list a:hover span::before,
.csstransforms3d .header-nav-menu__list a:focus span::before {
  background: #6c8a8e; 
}

.header-nav-menu__list a:hover,
.header-nav-menu__list a:focus {
  outline: none;
}

.header-nav-menu a span i {
  color: rgba(58, 74, 72, .8);
}

.header-nav-menu .header-nav-menu__list--color1 {
  background: #6AC716;
}

.header-nav-menu .header-nav-menu__list--color2 {
  background: #F93B09;
}

.header-nav-menu .header-nav-menu__list--color3 {
  background: #A512C4;
}

.header-nav-menu .header-nav-menu__list--color4 {
  background: #FFFF00;
}

.header-nav-menu .header-nav-menu__list--color5 {
  background: #21AAE0;
}

.header-nav-menu__list .active-link {
  background: #ccc;
}

.header-slogan {
  position: absolute;
  top: 120px;
  left: 31px;
}

.header-slogan span {
  width: 100%;
  font-family: "Segoe UI Semilight";
  font-style: italic;
  letter-spacing: 0.6px;
  font-size: 22px;
  font-weight: 300;
}

.header-slogan .first {
  margin-right: 425px;
}

.header-slogan  .second {
  font-size: 21px;
}

.space-panel {
  position: relative;
  width: 1108px;
  height: auto;
  margin: 30px auto 5px auto;
  border: 1px solid rgba(51, 107, 100, .4);
  border-radius: 7px;
  font-family: "Dinpro-medium";
}

.space-panel__nav-menu {
  width: 745px;
  position: absolute;
  top: 20px;
  right: 0;
  font-family: "YanusC";
  font-size: 18px;
  /*background: #ccc;*/
}

.space-panel__nav-menu a {
  display: inline-block;
  width: auto;
  padding: 0 15px 0 10px;
  border-right: 1px solid #ccc;
  color: #707475;
  font-size: 18px;
  text-decoration: none;
  /*background: #fcc;*/
}

.space-panel__nav-menu a:last-of-type {
  border-right: none;
}

.space-panel__nav-menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #A4A4A4;
    transition: width .4s ease-in-out;
}
.space-panel__nav-menu a:hover:after,
.space-panel__nav-menu a:focus:after {
    width: 101%;
}

.space-panel__nav-menu .active-link {
  color: #A4A4A4;
}
.space-panel__nav-menu .active-link:after{
  width: 101%;
}

.space-panel__nav-menu a:hover {
  color: #A4A4A4;
  transition: all .6s;
}

.space-panel__text {
  height: auto;
  width: 96%;
  margin: 60px 20px 0 20px;
  text-align: justify;
  overflow: auto;
  font-family: "YanusC";
  font-size: 18px;
  line-height: 19px;
}

.panel-menu__item {
  width: 1062px;
  height: 50px;
}

/*.accordion__item{
  display: inline-block;
  height: 48px;
  width: 1060px;
  border-radius: 10px;
  padding: 14px 0 0 25px;
  font-size: 20px;
  color: #3B4141;
  background: #90A9A9; 
  transition: all .8s linear;
}

.accordion__item{
  background: #B4C1C1;
  transition: all .7s linear;
}*/

/*----AKKORDEON----*/

.accordion__item {
  width: auto;
}

.accordion_trigger {
  position: relative;
  display: block;
  height: 50px;
  padding: 15px 0 10px 25px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 20px;
  color: #3B4141;
  background: #B4C1C1;
  transition: all .4s linear; 
}

.accordion_trigger a{
  position: absolute;
  right: 30px;
  border-bottom: 1px solid #526d6d;
  color: #526d6d;
  text-decoration: none;
  
}
.accordion_trigger a:hover {
  color: #cff;
  transition: all .5s linear;
  text-decoration: none;
}

.accordion_trigger:hover {
  background: #90A9A9;
  transition: all .5s linear;
}

.accordion_toggle:checked ~ .accordion_trigger {
  background-color: #B4C1C1;
}
 
.accordion_toggle {
  position: absolute;
  display: none;
}

.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  background-color: rgba(221,221,221,.8);
  /*background-color: #fff;*/
  color: #444;
  font-size: 17px;
}

.accordion_target img {
  float: left;
  margin: 2px 12px 5px 0;
}

.accordion_target p {
  text-indent: 20px;
  line-height: 22px;
}

.accordion_toggle:checked ~ .accordion_target {
  position: static;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: 15px 20px 15px 20px;
  width: 98%;
  height: auto;
  transition: height 1s;
/* задержка появления  функция анимации */
  -webkit-animation:fadeIn ease-in 0.6s; 
  -moz-animation:fadeIn ease-in 0.6s;
  animation:fadeIn ease-in 0.6s; 
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}



/*----END AKKORDEON----*/




.carousel {
  width: 780px;
  height: 250px;
  background: #ccc;
  margin: 40px auto 10px auto;
}

.carousel.fade{
  opacity: 1;
}

.carousel.fade .item{
  display: block;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.carousel.fade .item.active{
  position: relative;
  opacity: 1;
}
.carousel-inner .item img {
  width: 780px;  
  height: 250px;
  margin: 0 auto;
}   

.carousel-indicators li {
   border: 1px solid rgba(255,255,255, .2);
}

.carousel-indicators .active {
  background-color: rgba(255,255,255, .1);
  border: 1px solid rgba(255,255,255, .1);
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-left: -36px;
  width: 40px;
  height: 40px;
  border-radius: 19px;
  background: #ccc;
  padding: 8px;
  font-size: 20px;
}

.carousel-control .glyphicon-chevron-right {
    margin-right: -36px;
}

.block-panel {
  display: inline-block;
  width: 370px;
  height: 100%;
  position: relative;
  top: 0;
  float: left;
  padding: 10px 0 3px 4px;
  font-size: 10px;
}

.call {
  position: relative;
  width: 1108px;
  height: 75px;
  margin: 0 auto 7px auto;
  background: rgba(156, 180, 158, .7);
  margin-bottom: 7px;
  font-family: "YanusC";
}

.call__button {
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 76px;
  width: 180px;
  height: 56px;
  line-height: 35px;
  float: left;
  color:#000;
  border: 1px solid #0C616E;
  text-align: center;
  opacity: .9;
  border-radius: 11px;
  background:transparent;
  background-image: -webkit-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -webkit-linear-gradient(#597373, #D4F2EC);
  background-image: -moz-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -moz-linear-gradient(#597373, #D4F2EC);
  background-image: -o-linear-gradient(#3B6F81, #A3EAF5);
  background-image: -o-linear-gradient(#597373, #D4F2EC);
  -moz-box-shadow: inset 0px -2px 0 #B4E2F3;
  -webkit-box-shadow: inset 0px -2px 0 #B4E2F3;
  -o-box-shadow: inset 0px -2px 0 #B4E2F3;
  box-shadow: inset 0px -1px 2px #B4E2F3;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 0px;
}

.call__button:before {
  content: "\0020";
  color:transparent;
  line-height: 16px;
  width: 174px;
  height: 31px;
  opacity: .7;
  margin-top: 0px;
  margin-bottom: -22px;
  margin-left: 3px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) );
  background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  border-radius: 11px; 
  display:block;
  
}
.call__button:hover {
  color: rgb(51, 107, 100);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -webkit-transition-duration: 0.4s; 
  -o-transition-duration: 0.4s; 
  -moz-transition-duration: 0.4s; 
  transition-duration: 0.6s;
  text-decoration: none;
}

.call__text{
  position: absolute;
  top: 29px;
  left: 377px;
  font-size: 22px;
}

.block-third {
  position: relative;
  width: 1108px;
  height: 190px;
  margin: 0 auto 5px auto;
  background: url(../img/pogmem_ryki2.jpg) no-repeat;
  background-size: cover;
  border: 1px solid #7F9490;
  margin-bottom: 7px;
}

.block-third__logo {
  position: absolute;
  top: 15px;
  right: 35px;
  width: 210px;
  padding: 7px 21px;
  background: rgba(210, 219, 219, .6);
  border-radius: 4px;
}

.block-third-table {
  position: absolute;
  top: 15px;
  left: 45px;
  width: 760px;
  height: 140px;
  background: rgba(210, 219, 219, .6);
  border-radius: 5px;
  font-family: "YanusC";
}

.block-third-table__row {
  width: 240px;
  text-align: center;
  vertical-align: middle;
}

.block-third-table__row--top {
  height: 60px;
}

.block-third-table__row--top td {
  font-size: 22px;
  vertical-align: middle;
  width: 275px;
  text-decoration: underline;
}

.block-third-table__row--bottom {
  height: 95px;
  vertical-align: middle;
  font-size: 17px;
  line-height: 21px;
}

#modal_form {
 width: 500px; 
 height: 500px; 
 border-radius: 5px;
 border: 3px #000 solid;
 background: #fff;
 position: fixed; 
 top: 45%; 
 left: 50%; 
 margin-top: -250px;
 margin-left: -250px; 
 display: none; 
 opacity: 0; 
 z-index: 5; 
 padding: 20px 10px;
}
  
  #modal_form1 {
 width: 500px; 
 height: 500px; 
 border-radius: 5px;
 border: 3px #000 solid;
 background: #fff;
 position: fixed; 
 top: 45%; 
 left: 50%; 
 margin-top: -250px;
 margin-left: -250px; 
 display: none; 
 opacity: 0; 
 z-index: 5; 
 padding: 20px 10px;
}
/*  / Кнoпкa зaкрыть для тех ктo в тaнке) /*/
#modal_form #modal_close {
 width: 21px;
 height: 21px;
 position: absolute;
 top: 5px;
 right: -2px;
 cursor: pointer;
 display: block;
 color: black;
}

#modal_form1 #modal_close1 {
 width: 21px;
 height: 21px;
 position: absolute;
 top: 5px;
 right: -2px;
 cursor: pointer;
 display: block;
 color: black;
}

/*/ Пoдлoжкa /*/
#overlay {
 z-index:3; 
 position:fixed; 
 background-color:#000; 
 opacity:0.8; 
 -moz-opacity:0.8; 
 filter: alpha(opacity=80);
 width:100%; 
 height:100%; 
 top:0;
/*  / сверху и слевa 0, oбязaтельные свoйствa! /*/
 left:0;
 cursor:pointer;
 display:none; 
/*  / в oбычнoм сoстoянии её нет) /*/
}

#overlay1{
 z-index:3; 
 position:fixed; 
 background-color:#000; 
 opacity:0.8; 
 -moz-opacity:0.8; 
 filter: alpha(opacity=80);
 width:100%; 
 height:100%; 
 top:0;
/*  / сверху и слевa 0, oбязaтельные свoйствa! /*/
 left:0;
 cursor:pointer;
 display:none; 
/*  / в oбычнoм сoстoянии её нет) /*/
}

form {
   margin: 0 auto;
   max-width: 95%;
   padding: 30px 30px 6px 30px;
   border: 1px solid rgba(0,0,0,.2);
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   background: rgba(0, 0, 0, 0.5); 
   -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
   box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
   overflow: hidden; 
}
/* Поле сообщения */
textarea{
    background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    height: 130px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight: 300;
    color: rgba(255,255,255, .9);
    padding-left:20px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    font-weight: 300;    
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:20px;
}
input.email {
    background: rgba(255, 255, 255, 0.4);
    padding-left:20px;
}
input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:20px;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
:-moz-placeholder{ 
    color: rgba(255, 255, 255, 0.6); 
}
::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.6); 
}
input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
/* Стили для кнопки отправить */
.btn {
    width: 148px;
    height: 44px;
    margin: -10px 0 0 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #ccc;
}
.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }
.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #333333;
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ff6600));
    background: -webkit-linear-gradient(top, #ccc, #ff6600);
    background: -moz-linear-gradient(top, #ccc, #ff6600);
    background: -ms-linear-gradient(top, #ccc, #ff6600);
    background: -o-linear-gradient(top, #ccc, #ff6600);
    background-image: -ms-linear-gradient(top, #ccc 0%, #ff6600 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
